doctype html
html
  head
    != newrelic.getBrowserTimingHeader()
    title= "Is My Baby Still Breathing?"
    link(rel='stylesheet', href='https://fonts.googleapis.com/css?family=Cinzel:700,400')
    link(rel='stylesheet', href='/stylesheets/style.css')     
    link(rel='stylesheet', href='/stylesheets/bootstrap.min.css')   
    link(rel='script', src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js')


  body
    block content
